#header {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 40vh;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 10px;
}

.slideshow {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 95px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slideshow li {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url('/guitar-banner.jpeg');
}
.slideshow li:nth-child(2) {
  background-image: url('/guitar-banner2.jpeg');
  animation-delay: 8s;
}
.slideshow li:nth-child(3) {
  background-image: url('/guitar-banner3.jpg');
  animation-delay: 16s;
}
.slideshow li:nth-child(4) {
  background-image: url('/guitar-banner4.jpeg');
  animation-delay: 24s;
}
.slideshow li:nth-child(5) {
  background-image: url('/guitar-banner5.jpeg');
  animation-delay: 32s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  30% {
    opacity: 0;
  }
}
